*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto", sans-serif;
    font-weight: 400;
}

body{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;    
    min-height: 100vh;
    background-image:url("https://images.unsplash.com/photo-1536859355448-76f92ebdc33d?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{    
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;    
    color: aliceblue;
}

h2 {
    margin:10px 0;
}
main{    
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;    
    max-width:80%;
    margin:0 auto;  
    min-height: 100%;  
}

input {                       
    display: none;     
  }

label {                       
      display:none;
}

img {
    transition: filter 0.3s;
}

img:hover {
    filter: grayscale(100%);
}

.subrayado{
    text-decoration: underline;
}

.logo {
    font-size: 2rem; 
    font-weight: bold;
    color: #333; 
    text-decoration: none; 
    margin-right: auto;
    margin-left: 10px;
    padding: 10px; 

}

.header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    padding: 0;
    margin:0;
    border-bottom: 3px solid grey;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.nav-list a:hover {
    background-color: #efdd74;;
    color:black;
    border-radius: 20px;
}

.main-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;    
    color:white;
    font-size: 600;
    margin:10px;
    background: dimgray;
    border-radius: 10px;
}

.main-image img{
    width: 100%;;
    height: auto;
    border-radius: 110px;
    padding: 10px;
}

.main-text{
    margin: auto;
    max-width: 70%;

}

.footer{
    color:white;
    background-color: rgba(126, 125, 125, 0.7);    
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.main-content-portfolio {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto;    
}

.main-content-portfolio .card{
    background: dimgray;
}

.card {
    display: flex;
    align-items: center;    
    border-radius: 10px;
    overflow: hidden;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
    padding: 15px;
}

.card-text {
    flex: 1; 
    margin:7px;
    color: white;
}

.card-image {
    flex-shrink: 0;
    width: auto; 
    height: auto; 
    border-radius: 10px; 
}

.card-image img{
    width: 180px;
    height: 150px;
    border-radius: 10px; 
}

.card-text a {
    color:rgb(0, 162, 255);
    text-decoration: none; 
}

.card-text a:hover {
    text-decoration: underline; 
}

.formulario{
    margin: 10px;
    display: flex;
    flex-direction: column;    
    gap: 5px;
}

.formulario input{
    display: block;
}

.formulario label{
    display: block;
    
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    margin: 0 15px;
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #efdd74;
}

.texto-contacto{
    color: white;
    text-align: center;
}

@media (max-width: 768px) {

    .main-image img{
        width: 90%;
        height: 90%;
        border-radius: 110px;
        padding: 10px;
    }
    
    .navbar {        
        justify-content: center;        
    }
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .main-content{
        flex-direction: column;        
    }
    label { 
        display: block;
        font-size: 1.2rem;
        cursor: pointer;
        margin-right: 20px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: white;
        padding: 10px 0;
    }

    input:checked + label + .nav-list {
        display: flex;
    }

    .card{
        flex-flow: column;
    }
}

@media (max-width: 400px) {
    label { 
        display: block;
        font-size: 2rem;
        cursor: pointer;
        margin-right: 20px;
    }

    .main-image img{
        width: 100%;
        height: 90%;
        border-radius: 110px;
        padding: 10px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: white;
        padding: 10px 0;
    }

    input:checked + label + .nav-list {
        display: flex;
    }

    .navbar {        
        justify-content: center;        
    }
    .nav-list a {
        font-size: 0.9rem;
        padding: 8px;
    }

    .main-content{
        flex-direction: column;
        text-align-last: center
    }

    .card{
        flex-flow: column;
    }
}